* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
}

.header-logo {
  margin-right: auto;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 25px;
}