* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.header,
.hero {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 150px;
}

.header-logo,
.main-title,
button {
  font-weight: 900;
}

.header-logo,
.main-title,
.image-placeholder,
button a {
  color: #F9FAF8;
}

.header-logo {
  font-size: 24px;
}

.header-links {
  list-style-type: none;
  display: flex;
  column-gap: 25px;
}

.header-links a, 
.sub-title {
  font-size: 18px;
  color: #E5E7EB;
}

.header-links a {
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  padding: 90px 150px;
}

.main-title {
  font-size: 48px;
}

.hero button {
  background-color: #3882F6;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
}

.hero-left,
.image-placeholder {
  flex: 1;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-title {
  margin-bottom: 8px;
}

button a {
  text-decoration: none;
}

a:hover {
  color: lightsteelblue;
}

.info-header {
  text-align: center;
  margin: 30px;
}

.info-images {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.info-images p {
  text-align: center;
}

.info-image {
  border: 5px solid #3882F6;
  padding: 25px;
}

.image-and-subtext {
  display: flex;
  flex-direction: column;
}