* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.header,
.hero {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 150px;
}

.header-logo,
.main-title,
button {
  font-weight: 900;
}

.header-logo,
.main-title,
.image-placeholder,
button a {
  color: #F9FAF8;
}

.header-logo {
  font-size: 24px;
}

.header-links {
  list-style-type: none;
  display: flex;
  column-gap: 25px;
}

.header-links a,
.sub-title {
  font-size: 18px;
  color: #E5E7EB;
}

.header-links a {
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  padding: 90px 150px;
}

.main-title {
  font-size: 48px;
}

.hero button {
  background-color: #3882F6;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
}

.hero-left,
.image-placeholder {
  flex: 1;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sub-title {
  margin-bottom: 8px;
}

button a {
  text-decoration: none;
}

a:hover {
  color: lightsteelblue;
}

.info-header {
  text-align: center;
  margin: 35px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-images {
  display: flex;
  justify-content: center;
  column-gap: 45px;
}

.info-images p {
  text-align: center;
  width: 206px;
  color: #363636
}

.info-image {
  border: 3px solid #3882F6;
  padding: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-and-subtext {
  display: flex;
  flex-direction: column;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 112px 190px;
  margin: 112px 0;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}

.thor {
  font-weight: 900;
  align-self: flex-end;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  padding: 50px 100px;
  margin: 0 125px 112px;
  border-radius: 5px;
}

.call-to-action-left h2 {
  color:#F9FAF8;
  font-weight: 900;
}

.call-to-action-left p {
  color: #d4d6da;
}

.call-to-action-button a {
  text-decoration: none;
}

.call-to-action-button button {
  padding: 7px 25px;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  background-color: #3882F6;
}